@page
@model ProjCRS.Pages.CrimeLocations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2> Step 2 of 3 </h2>

<h4>Enter Location of Crime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CrimeLocation.StreetAddress" class="control-label"></label>
                <input asp-for="CrimeLocation.StreetAddress" class="form-control" />
                <span asp-validation-for="CrimeLocation.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrimeLocation.City" class="control-label"></label>
                <input asp-for="CrimeLocation.City" class="form-control" />
                <span asp-validation-for="CrimeLocation.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrimeLocation.State" class="control-label"></label>
                <input asp-for="CrimeLocation.State" class="form-control" />
                <span asp-validation-for="CrimeLocation.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrimeLocation.ZipCode" class="control-label"></label>
                <input asp-for="CrimeLocation.ZipCode" class="form-control" />
                <span asp-validation-for="CrimeLocation.ZipCode" class="text-danger"></span>
            </div>
            <div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-default" />
            </div>
             
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
