@page
@model AboutModel
@{
  
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
<h3><strong><span style ="Color:#811010ec">Our Company</span></strong></h3>

<p>CRS Corporation delivers world-class software solutions to law enforcement and related markets.</p>

<p><strong>"Our mission is to continue to be a leader in the provision of law enforcement software for investigations and intelligence while growing our client base through hard work and impeccable service.”</strong></p>

<P>
    CRS contributes directly to the success of investigators, inspectors and intelligence professionals in their daily work. Experience is our greatest strength. Our company was built on more than 30 years of criminal investigations expertise. We bring knowledge of the frontline realities to bear on every feature of our products. We devise solutions that are rooted in deep understanding of the complexity and challenges associated with multi-jurisdictional, multi-agency investigations and intelligence probes.

Since launching in 2017, CRS has worked with all manner of law enforcement organizations, in each case, gaining understanding of customer needs to develop responsive technology solutions that adhere with industry standards.

CRS is headquartered in New York, US.
</P>

<div class="row">
<div class="col-sm-4">
<div class="teambox">
<p><img class="attachment-thumb-large size-thumb-large wp-post-image" src="https://media.licdn.com/dms/image/C4E03AQE9oy-KKKmrqQ/profile-displayphoto-shrink_200_200/0?e=1544659200&v=beta&t=I07JjA8Sej7avtEb40HWipHUAGdmjMYcxlIHV6Gbu6Y" alt="todd-200x200" width="180" height="200" /></p>
<h3><a href="https://www.linkedin.com/in/keith-fernandes/">Keith Fernandes</a></h3>
<p>Founding Partner<br />
Chief Executive Officer</p>
</div>
</div>
<div class="col-sm-4">
<div class="teambox">
<p><img class="attachment-thumb-large size-thumb-large wp-post-image" src="https://media.licdn.com/dms/image/C5603AQG0R8HbLQ7wVA/profile-displayphoto-shrink_200_200/0?e=1544659200&v=beta&t=u-vNKQmezvArrC2i2YVAf7AQN6UWfNfEGZG0c2xt8hM" alt="todd-200x200" width="180" height="200" /></p>
<h3><a href="https://www.linkedin.com/in/dongjool/">Dongjoo Lee</a></h3>
<p>Founding Partner<br />
Chief Technology Officer</p>
</div>
</div>
<div class="col-sm-4">
<div class="teambox">
<p><img class="attachment-thumb-large size-thumb-large wp-post-image" src="https://media.licdn.com/dms/image/C4E03AQEiDvHp7KZKdg/profile-displayphoto-shrink_200_200/0?e=1544659200&v=beta&t=TEVzF0m4pKeWL-KOgTAOpXINTCkRmTziIklM48iVP9s" alt="scott-200x200" width="180" height="200" /></p>
<h3><a href="https://www.linkedin.com/in/ramkumar-dhayalan-a589a32a/">Ram Dhayalan</a></h3>
<p>Founding Partner<br />
Cheif Operations Officer</p>
</div>
</div>
</div>
<h3>Professional Services</h3>
<p><em>Legal</em> <a href="http://www.businesslawadvice.com/">Morisawa De Koven Professional Corporation</a><br />
<em>Accounting</em> <a href="http://windfall.on.ca/">Rheaume Williams Kalbfleisch, Chartered Accountants, LLP</a><br />
<em>Digital Marketing</em> <a href="http://wsiestrategies.com/">WSI eStrategies</a></p>