@page
@model ContactModel
@{
   
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<h3><strong><span style ="Color:#811010ec">Contact Us</span></strong></h3>

<address>
    CRS Corporation<br/>
    228 Park Ave <br/>
    New York, NY, 98052<br/>
</address>

<h3><strong><span style ="Color:#811010ec">Phone</span></strong></h3>

<address>
    <abbr title="Phone">P:</abbr>
    959.565.0100
</address>

<h3><strong><span style ="Color:#811010ec">Email </span></strong></h3>

<address>
    <strong>Support:</strong> <a href="mailto:Support@CRSCorp.com">Support@CRSCorp.com</a><br />
    <strong>Legal:</strong> <a href="mailto:legal@CRSCorp.com">Legal@CRSCorp.com</a>
</address>
