@page
@model ProjCRS.Pages.HelpModel
@{
}

<h3><strong><span style ="Color:#811010ec">How to use?</span></strong></h3>

<p>1. create criminal record (whole process)</p>
<p>2. search tool (search by criminal, location, code)</p>